*{
    padding: 0;
    margin: 0;
}
header{
    background-color:rgb(156, 218, 140)  ;
    height: 6em;
}
img{
    margin-left: 10%;
    margin-top: 14px;
}
.head-tag{
    float: right;
    margin-top: 44px;
    margin-right: 50px;
}
.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color:#2f9da5 ;
    border: groove rgb(98, 185, 71);
    padding: 2 px;
    margin-right: 10 px;
    
    
}
.head-tag a:hover{
    background-color:rgb(28, 176, 196);
    color:rgb(34, 238, 211);
    transition: 0.5s ease-in-out;
}
footer{
    background-color:rgb(139, 223, 118) ;
    color: rgb(48, 10, 153);
    height: 6.5em;
    margin-top: 29%;
    text-align: center;
}
body  
{  
    
    margin: 0;  
    padding: 0;  
    background-color: #288f78;  
    font-family: 'Arial';  
    
}  
.login{  
        width: 300px;  
        margin: auto;  
        margin: 20 0 0 40px;  
        padding: 50px;  
        background: #68eb94;  
        border-radius: 15px ; 
         
          
}  
pre{
   
    font-size: large;
    
    color: black;
}


h2{  
    text-align: center;  
    color: #01461e;  
    padding: 20px;  
}  
label{  
    color: #083020;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: rgb(8, 15, 80);  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: rgb(216, 241, 236);  
}

body
{
  margin:0px; background-color:#26b495; color:black; font-family:Arial, Helvetica, sans-serif;
}
#main
{
  width:600px; height:260px; margin-left:auto; margin-right:auto; border-radius:5px; padding-left:10px; margin-top:100px;
  border-top:3px
}
#main table
{
  font-family:"Comic Sans MS", cursive;
} 

#main .tb
{
 height:28px; width:230px; border:5px solid #0e6d5d; color:#a8e097; font-weight:bold;  
}


#main .btn
{
 width:80px; height:32px; outline:none;  font-weight:bold; border:2px solid #27a465; text-shadow: 0px 0.5px 0.5px #fff;	
 border-radius: 2px; font-weight: 600; color: #27a465; letter-spacing: 1px; font-size:14px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;
}

#main .btn:hover
{
 background-color:#67bb91; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
}
